/venv/
/.idea/
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
*.suo
/01_DevOps_SysAdm/04-Python_Bash_YAML_JSON/Python/token_github.txt
/python/z9/*.txt
/python/z10/*.txt
/02_VM_DB_Terraform/03_Terraform/7.2/aws/Administrator_accessKeys.csv
/02_VM_DB_Terraform/03_Terraform/7.4/TerraformModule/Administrator_accessKeys.csv
/04_DevKuber/02_Kuber/12.01_Intro/terraform/.terraform/
/04_DevKuber/02_Kuber/12.01_Intro/terraform/terraform.tfstate.d/
!/04_DevKuber/02_Kuber/12.01_Intro/terraform/.terraform.lock.hcl
!/04_DevKuber/02_Kuber/12.01_Intro/terraform/key.json
!/04_DevKuber/02_Kuber/12.02_Commands/terraform/key.json
!/04_DevKuber/02_Kuber/12.02_Commands/terraform/terraform.tfstate.d/
!/04_DevKuber/02_Kuber/12.02_Commands/terraform/.terraform/
!/04_DevKuber/02_Kuber/12.02_Commands/terraform/key.json
/04_DevKuber/02_Kuber/12.04_Kubespray/terraform/key.json
/04_DevKuber/02_Kuber/12.04_Kubespray/terraform/.terraform.lock.hcl
/04_DevKuber/02_Kuber/12.04_Kubespray/terraform/terraform.tfstate.d/
/04_DevKuber/02_Kuber/12.04_Kubespray/terraform/.terraform/
